@media screen and (max-width:480px) {
    .cards_container{
        grid-template-columns: repeat(1,1fr)!important;

    }
    .options_container{
    flex-direction: column !important
    }
    .trips_container{
        gap:0px !important;
        flex-direction: column !important;
    }
    .date_title{
        font-size: 20px ;
        margin-top:40px;
        padding-bottom: 0px;
    }
    .trip_params{
        flex-direction: column !important;
    }
    .trip_container{
        width: 100% !important;
        margin-bottom: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        background-color: #061321;
        border-radius: 10px;
  
    }
    .filers_container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .filter_container{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .last_update{
        font-size:80%;
        
    }
    .add_button{
        width: 230px;
    }
  }

